
/* Starry Background Animation */
@keyframes twinkle {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.starry-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #000;
    overflow: hidden;
    z-index: -1;
}

.star {
    width: 3px;
    height: 3px;
    background: yellow;
    width: 2px;
    height: 2px;
    background: white;
    position: absolute;
    border-radius: 50%;
    animation: twinkle 2s infinite ease-in-out alternate;
}

/* Generating multiple stars */

.star:nth-child(1) {
    top: 97%;
    left: 38%;
    animation-delay: 1.9051709189989605s;
    animation-duration: 1.7245058514507736s;
}
.star:nth-child(2) {
    top: 98%;
    left: 47%;
    animation-delay: 1.4852448105893308s;
    animation-duration: 1.8134721682311505s;
}
.star:nth-child(3) {
    top: 73%;
    left: 5%;
    animation-delay: 0.9913601277968429s;
    animation-duration: 2.4016741500942222s;
}
.star:nth-child(4) {
    top: 95%;
    left: 60%;
    animation-delay: 0.451185183649371s;
    animation-duration: 2.08523139943273s;
}
.star:nth-child(5) {
    top: 30%;
    left: 39%;
    animation-delay: 1.3877183890411031s;
    animation-duration: 1.7672442269610378s;
}
.star:nth-child(6) {
    top: 92%;
    left: 4%;
    animation-delay: 0.33706978913043173s;
    animation-duration: 2.3597835022467484s;
}
.star:nth-child(7) {
    top: 86%;
    left: 57%;
    animation-delay: 0.07796396238825087s;
    animation-duration: 1.5707868924191963s;
}
.star:nth-child(8) {
    top: 25%;
    left: 2%;
    animation-delay: 0.017756085092880625s;
    animation-duration: 1.945039020329648s;
}
.star:nth-child(9) {
    top: 0%;
    left: 24%;
    animation-delay: 1.9416198474906994s;
    animation-duration: 1.9286411622948414s;
}
.star:nth-child(10) {
    top: 74%;
    left: 10%;
    animation-delay: 1.3057964279238379s;
    animation-duration: 1.6090586057484406s;
}
.star:nth-child(11) {
    top: 44%;
    left: 6%;
    animation-delay: 1.8340088290068348s;
    animation-duration: 2.2049403550977282s;
}
.star:nth-child(12) {
    top: 83%;
    left: 43%;
    animation-delay: 0.257402776881712s;
    animation-duration: 2.429848740111643s;
}
.star:nth-child(13) {
    top: 97%;
    left: 7%;
    animation-delay: 1.8240432103937083s;
    animation-duration: 1.7623912233507744s;
}
.star:nth-child(14) {
    top: 0%;
    left: 60%;
    animation-delay: 0.346841857065856s;
    animation-duration: 1.822765619122459s;
}
.star:nth-child(15) {
    top: 87%;
    left: 13%;
    animation-delay: 1.0241119180781983s;
    animation-duration: 2.2236522049862697s;
}
.star:nth-child(16) {
    top: 82%;
    left: 40%;
    animation-delay: 1.5243678439942643s;
    animation-duration: 1.7036330371162016s;
}
.star:nth-child(17) {
    top: 65%;
    left: 31%;
    animation-delay: 1.6992239641398694s;
    animation-duration: 1.9022144836703696s;
}
.star:nth-child(18) {
    top: 92%;
    left: 97%;
    animation-delay: 0.7501382906292768s;
    animation-duration: 1.6465134988031305s;
}
.star:nth-child(19) {
    top: 21%;
    left: 27%;
    animation-delay: 0.6809564057175896s;
    animation-duration: 1.6866421405177439s;
}
.star:nth-child(20) {
    top: 77%;
    left: 17%;
    animation-delay: 0.22709317259282602s;
    animation-duration: 2.0581058853688785s;
}
.star:nth-child(21) {
    top: 34%;
    left: 88%;
    animation-delay: 1.2420447101873544s;
    animation-duration: 2.015650065549443s;
}
.star:nth-child(22) {
    top: 78%;
    left: 18%;
    animation-delay: 1.797197949632135s;
    animation-duration: 1.802656218792571s;
}
.star:nth-child(23) {
    top: 92%;
    left: 11%;
    animation-delay: 0.1403491740762799s;
    animation-duration: 2.4841561974134976s;
}
.star:nth-child(24) {
    top: 6%;
    left: 35%;
    animation-delay: 0.42649832021786227s;
    animation-duration: 2.168667779802319s;
}
.star:nth-child(25) {
    top: 54%;
    left: 76%;
    animation-delay: 0.404970020641062s;
    animation-duration: 2.2094395420712027s;
}
.star:nth-child(26) {
    top: 12%;
    left: 36%;
    animation-delay: 0.17347306134779528s;
    animation-duration: 1.5622529973077024s;
}
.star:nth-child(27) {
    top: 57%;
    left: 74%;
    animation-delay: 0.009653072438448707s;
    animation-duration: 2.2014375356622686s;
}
.star:nth-child(28) {
    top: 90%;
    left: 80%;
    animation-delay: 0.7269245485510138s;
    animation-duration: 2.4389767542022436s;
}
.star:nth-child(29) {
    top: 25%;
    left: 16%;
    animation-delay: 1.0321844756071676s;
    animation-duration: 2.13465191941035s;
}
.star:nth-child(30) {
    top: 11%;
    left: 3%;
    animation-delay: 0.7621020225388264s;
    animation-duration: 2.4376000855303723s;
}
.star:nth-child(31) {
    top: 2%;
    left: 65%;
    animation-delay: 0.3763258484038665s;
    animation-duration: 2.3320014731235217s;
}
.star:nth-child(32) {
    top: 63%;
    left: 42%;
    animation-delay: 0.008331936678541485s;
    animation-duration: 2.0265609328436884s;
}
.star:nth-child(33) {
    top: 26%;
    left: 47%;
    animation-delay: 0.592138993754866s;
    animation-duration: 2.438854945826594s;
}
.star:nth-child(34) {
    top: 33%;
    left: 6%;
    animation-delay: 0.8195334782162678s;
    animation-duration: 2.3310868450980102s;
}
.star:nth-child(35) {
    top: 85%;
    left: 18%;
    animation-delay: 1.570468714468703s;
    animation-duration: 1.9972518971772448s;
}
.star:nth-child(36) {
    top: 47%;
    left: 86%;
    animation-delay: 0.673151396615338s;
    animation-duration: 1.9715376283072854s;
}
.star:nth-child(37) {
    top: 59%;
    left: 84%;
    animation-delay: 1.5698483392599514s;
    animation-duration: 1.8775784832657232s;
}
.star:nth-child(38) {
    top: 98%;
    left: 85%;
    animation-delay: 1.5221051174485092s;
    animation-duration: 2.4005697883586294s;
}
.star:nth-child(39) {
    top: 26%;
    left: 58%;
    animation-delay: 0.5915918576250845s;
    animation-duration: 1.8051621210601108s;
}
.star:nth-child(40) {
    top: 95%;
    left: 73%;
    animation-delay: 1.2138517660030648s;
    animation-duration: 2.028751730251136s;
}
.star:nth-child(41) {
    top: 91%;
    left: 43%;
    animation-delay: 1.6237810556368157s;
    animation-duration: 1.5201811182425518s;
}
.star:nth-child(42) {
    top: 71%;
    left: 79%;
    animation-delay: 0.7498371197059999s;
    animation-duration: 2.1910516318368076s;
}
.star:nth-child(43) {
    top: 38%;
    left: 98%;
    animation-delay: 0.7898173744630355s;
    animation-duration: 1.8049109783898494s;
}
.star:nth-child(44) {
    top: 21%;
    left: 94%;
    animation-delay: 1.983805616398344s;
    animation-duration: 2.1428317144675795s;
}
.star:nth-child(45) {
    top: 11%;
    left: 44%;
    animation-delay: 1.2128909939307988s;
    animation-duration: 2.2099389430759544s;
}
.star:nth-child(46) {
    top: 40%;
    left: 71%;
    animation-delay: 1.6914922594480135s;
    animation-duration: 2.162262184271976s;
}
.star:nth-child(47) {
    top: 84%;
    left: 42%;
    animation-delay: 0.6513711381180065s;
    animation-duration: 2.34735871725382s;
}
.star:nth-child(48) {
    top: 80%;
    left: 38%;
    animation-delay: 1.7989255676390719s;
    animation-duration: 1.8108545218063767s;
}
.star:nth-child(49) {
    top: 80%;
    left: 31%;
    animation-delay: 0.5288031500046946s;
    animation-duration: 2.397571536352617s;
}
.star:nth-child(50) {
    top: 66%;
    left: 76%;
    animation-delay: 0.6948242175132138s;
    animation-duration: 1.8113684785426227s;
}
.star:nth-child(51) {
    top: 96%;
    left: 72%;
    animation-delay: 0.21714720186885983s;
    animation-duration: 2.3741601910125008s;
}
.star:nth-child(52) {
    top: 99%;
    left: 36%;
    animation-delay: 0.20235033969479455s;
    animation-duration: 1.831281253425695s;
}
.star:nth-child(53) {
    top: 78%;
    left: 74%;
    animation-delay: 1.7881766637527612s;
    animation-duration: 1.9614477092690072s;
}
.star:nth-child(54) {
    top: 73%;
    left: 98%;
    animation-delay: 0.7897036417357501s;
    animation-duration: 1.5535506191475843s;
}
.star:nth-child(55) {
    top: 83%;
    left: 91%;
    animation-delay: 1.3706885893693934s;
    animation-duration: 1.9885840428536021s;
}
.star:nth-child(56) {
    top: 67%;
    left: 66%;
    animation-delay: 1.6184913992681496s;
    animation-duration: 2.0712818492250973s;
}
.star:nth-child(57) {
    top: 68%;
    left: 71%;
    animation-delay: 0.9844755554695037s;
    animation-duration: 1.9421552373948148s;
}
.star:nth-child(58) {
    top: 64%;
    left: 55%;
    animation-delay: 0.6480182606433162s;
    animation-duration: 2.4082234016720907s;
}
.star:nth-child(59) {
    top: 81%;
    left: 15%;
    animation-delay: 0.13687802611819722s;
    animation-duration: 1.8290458939980407s;
}
.star:nth-child(60) {
    top: 19%;
    left: 12%;
    animation-delay: 0.7292819364702516s;
    animation-duration: 1.9089569780254865s;
}
.star:nth-child(61) {
    top: 8%;
    left: 37%;
    animation-delay: 0.5346777439440034s;
    animation-duration: 1.6495463376292276s;
}
.star:nth-child(62) {
    top: 37%;
    left: 10%;
    animation-delay: 0.7687613613680393s;
    animation-duration: 2.4898804672223402s;
}
.star:nth-child(63) {
    top: 69%;
    left: 0%;
    animation-delay: 0.15942026977241075s;
    animation-duration: 2.389310989354466s;
}
.star:nth-child(64) {
    top: 50%;
    left: 98%;
    animation-delay: 1.3522013168729123s;
    animation-duration: 2.492460856800707s;
}
.star:nth-child(65) {
    top: 88%;
    left: 82%;
    animation-delay: 0.009935074052884296s;
    animation-duration: 2.249004519399248s;
}
.star:nth-child(66) {
    top: 71%;
    left: 91%;
    animation-delay: 1.5834856418839147s;
    animation-duration: 2.0888014127147274s;
}
.star:nth-child(67) {
    top: 25%;
    left: 71%;
    animation-delay: 0.1297910791248027s;
    animation-duration: 1.9981265172703306s;
}
.star:nth-child(68) {
    top: 37%;
    left: 87%;
    animation-delay: 1.7646977428408002s;
    animation-duration: 2.4585164865049762s;
}
.star:nth-child(69) {
    top: 39%;
    left: 27%;
    animation-delay: 1.2609258020197023s;
    animation-duration: 2.278433684109445s;
}
.star:nth-child(70) {
    top: 95%;
    left: 28%;
    animation-delay: 1.7847055099578304s;
    animation-duration: 2.130809568370931s;
}
.star:nth-child(71) {
    top: 90%;
    left: 71%;
    animation-delay: 1.4720197938978512s;
    animation-duration: 2.3480956961221273s;
}
.star:nth-child(72) {
    top: 24%;
    left: 30%;
    animation-delay: 0.3956078988358753s;
    animation-duration: 1.6239576341045918s;
}
.star:nth-child(73) {
    top: 17%;
    left: 18%;
    animation-delay: 0.6267176328080488s;
    animation-duration: 1.9747302332530805s;
}
.star:nth-child(74) {
    top: 56%;
    left: 8%;
    animation-delay: 0.05112801025096636s;
    animation-duration: 2.230505177584929s;
}
.star:nth-child(75) {
    top: 10%;
    left: 0%;
    animation-delay: 1.3128805596850757s;
    animation-duration: 1.7737359268702075s;
}
.star:nth-child(76) {
    top: 38%;
    left: 40%;
    animation-delay: 0.11405746618424817s;
    animation-duration: 2.1040946616870655s;
}
.star:nth-child(77) {
    top: 1%;
    left: 8%;
    animation-delay: 1.4552356740824473s;
    animation-duration: 2.2677044455434654s;
}
.star:nth-child(78) {
    top: 72%;
    left: 69%;
    animation-delay: 0.4683723850061756s;
    animation-duration: 2.263678677165951s;
}
.star:nth-child(79) {
    top: 51%;
    left: 21%;
    animation-delay: 0.16814892679534044s;
    animation-duration: 2.0975045463686626s;
}
.star:nth-child(80) {
    top: 35%;
    left: 9%;
    animation-delay: 0.24476078731715267s;
    animation-duration: 1.5725158962721375s;
}
.star:nth-child(81) {
    top: 91%;
    left: 31%;
    animation-delay: 1.2940169493739733s;
    animation-duration: 1.523177637829615s;
}
.star:nth-child(82) {
    top: 94%;
    left: 70%;
    animation-delay: 0.6676944465887338s;
    animation-duration: 1.5186960470936208s;
}
.star:nth-child(83) {
    top: 64%;
    left: 42%;
    animation-delay: 1.9889618246439478s;
    animation-duration: 1.5942484217686412s;
}
.star:nth-child(84) {
    top: 63%;
    left: 65%;
    animation-delay: 1.6275646312066614s;
    animation-duration: 2.462248894879811s;
}
.star:nth-child(85) {
    top: 77%;
    left: 20%;
    animation-delay: 1.0340919935740143s;
    animation-duration: 1.780087812458492s;
}
.star:nth-child(86) {
    top: 87%;
    left: 68%;
    animation-delay: 1.5653452077973995s;
    animation-duration: 2.020351102968932s;
}
.star:nth-child(87) {
    top: 47%;
    left: 74%;
    animation-delay: 1.2858190757742392s;
    animation-duration: 2.1509416700167985s;
}
.star:nth-child(88) {
    top: 13%;
    left: 86%;
    animation-delay: 0.4635249109453703s;
    animation-duration: 2.323031925961117s;
}
.star:nth-child(89) {
    top: 62%;
    left: 11%;
    animation-delay: 0.36761624377459867s;
    animation-duration: 1.9168459157574564s;
}
.star:nth-child(90) {
    top: 57%;
    left: 37%;
    animation-delay: 1.2290618246756075s;
    animation-duration: 1.8268849515687462s;
}
.star:nth-child(91) {
    top: 64%;
    left: 48%;
    animation-delay: 0.38985599896859924s;
    animation-duration: 2.2733724392217107s;
}
.star:nth-child(92) {
    top: 40%;
    left: 87%;
    animation-delay: 1.3679156846091687s;
    animation-duration: 2.438751702352007s;
}
.star:nth-child(93) {
    top: 94%;
    left: 72%;
    animation-delay: 0.9858719991139488s;
    animation-duration: 1.703051957603619s;
}
.star:nth-child(94) {
    top: 20%;
    left: 3%;
    animation-delay: 0.13185381738391233s;
    animation-duration: 2.4062830313720136s;
}
.star:nth-child(95) {
    top: 99%;
    left: 80%;
    animation-delay: 0.3948339837960595s;
    animation-duration: 2.481153037724173s;
}
.star:nth-child(96) {
    top: 39%;
    left: 72%;
    animation-delay: 1.753839976839137s;
    animation-duration: 2.2969361114601403s;
}
.star:nth-child(97) {
    top: 40%;
    left: 74%;
    animation-delay: 0.1471920264271649s;
    animation-duration: 2.0269220350136554s;
}
.star:nth-child(98) {
    top: 28%;
    left: 76%;
    animation-delay: 0.6699063496436495s;
    animation-duration: 2.418740713997254s;
}
.star:nth-child(99) {
    top: 20%;
    left: 42%;
    animation-delay: 1.249012869540524s;
    animation-duration: 2.020687178053115s;
}
.star:nth-child(100) {
    top: 41%;
    left: 70%;
    animation-delay: 1.002419878404282s;
    animation-duration: 1.5418288665725561s;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0f7fa;  /* Light blue background */
    color: #0d47a1;  /* Dark blue text */
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

header {
    background-color: #0d47a1;  /* Dark blue header */
    color: white;
    padding: 20px 0;
    border-bottom: 5px solid #ffca28;  /* Accent border */
}

nav ul {
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Subtitle Styling */
h1, h2, h3 {
    font-weight: bold;
    margin: 20px 0;
}

h1 {
    font-size: 2.5em; /* Larger font size for main titles */
}

h2 {
    font-size: 1.8em; /* Larger font size for subtitles */
}

section {
    margin-bottom: 40px; /* Increased margin for more scrolling */
    padding: 20px;
    background-color: #fff;  /* White background for sections */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project {
    background-color: #f4f4f4;  /* Slight grey background for projects */
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 30px 0;
    background-color: #0d47a1;  /* Dark blue footer */
    color: white;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.container {
    position: relative;
    z-index: 1; /* Make sure content is above the background */
}

/* Styling for the 'About Me' section with photo */
#about {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-photo {
    width: 40%;
    margin-right: 20px;
}

.about-text {
    width: 50%;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    #about {
        flex-direction: column;
        text-align: center;
    }

    .about-photo, .about-text {
        width: 100%;
    }
}
